/**********desktop**********/

body {
  background-color: #0b1e34;
  background-image: url(img/baggrund.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 65% 0;
}

main {
  max-width: 1600px;
}

/**********menu**********/
#menu {
  display: grid;
  grid-template-columns: 35% 50%;
}

/**********logo og ikoner**********/
.logo_img {
  width: 200px;
  height: 100px;
}
.icons {
  position: fixed;
  bottom: 320px;
  right: 50px;
}

.icons ul li a img {
  width: 50px;
  height: 50px;
  transition: 0.25s;
}

.icons ul li a img:hover {
  filter: brightness(200%) contrast(100%);
  transform: translateY(-3px);
}
/*********nav bar**********/
li a {
  color: #edc6fe;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

ul li a:hover {
  color: #d995f5;
  text-shadow: 0 0 5px #774b88;
}
/**********text**********/
.index_h1 {
  font-family: "Fira Mono", monospace;
  color: #d995f5;
  font-size: 2.5rem;
  margin-bottom: 8rem;
}

.index_p {
  font-family: "Roboto Regular", monospace;
  color: #edc6fe;
  font-size: 1.5rem;
}

.mit_navn {
  font-family: "Roboto Regular", monospace;
  color: #d995f5;
  margin-top: 7rem;
  font-size: 1.5rem;
}

.indhold_index {
  display: grid;
  justify-content: center;
  margin-bottom: 60px;
}

/**********forside billeder**********/

/**********grid på billeder**********/
.forside_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  padding: 60px 90px 0px 90px;
}
/**********html billeder*********/
.subject2,
.subject3,
.subject4,
.subject5 {
  width: 100%;
  aspect-ratio: 16/9;
  text-align: center;
  background-color: #0c2139;
  border-radius: 25px;
  text-decoration: none;
}
/*********tekst på billeder**********/
.text_front2,
.text_front3,
.text_front4,
.text_front5 {
  font-size: 5rem;
  padding-top: 5rem;
  font-family: "Roboto Mono", monospace;
  color: #d995f5;
}
/*********baggrund på billederne**********/
.background_subject2 {
  background-image: url(img/tema2.webp);
  background-size: cover;
}

.background_subject3 {
  background-image: url(img/xd-prototype.webp);
  background-size: cover;
}

.background_subject4 {
  background-image: url(img/tema4.webp);
  background-size: cover;
}
.background_subject5 {
  background-image: url(img/tema5.webp);
  background-size: cover;
}

/**********om_mig knap**********/
.om_mig_knap {
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Roboto Mono", monospace;
  border: none;
  padding: 24px;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
  color: #edc6fe;
  background-size: 200%;
  background-image: linear-gradient(to left, #fda7df, #9980fa, #fda7df);
  transition: 0.6s;
}

.om_mig_knap:hover {
  background-position: right;
}

footer {
  color: #edc6fe;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  gap: 2rem;
  margin-top: 10rem;
}
/**********linje på siden**********/
hr {
  color: #edc6fe;
}

/**********hide screen*********/

.hide {
  display: none;
}

/**********om mig side**********/

.om_mig {
  padding: 4rem;
}
/**********indhold_grid**********/
.indhold_mig {
  display: grid;
  grid-template-columns: 60% 1fr;
}
/**********img**********/
.portrait_mig {
  border-radius: 25px;
  margin-left: 3rem;
  border-color: #edc6fe;
  border-style: solid;
  margin-top: 1rem;
}
/**********text**********/
.h1_om_mig {
  font-family: "Fira Mono", monospace;
  color: #d995f5;
  font-size: 2.5rem;
  margin: 0;
}
.p_mig {
  font-family: "Roboto Regular", monospace;
  color: #edc6fe;
  font-size: 1.2rem;
}
.skills_con {
  display: flex;
  gap: 70px;
}
.skills1,
.skills2 {
  list-style-type: circle;
  list-style-position: inside;
  margin: 0;
  color: #edc6fe;
  gap: 0;
  font-family: "Roboto Regular", monospace;
}

.skills1 li,
.skills2 li {
  margin-left: -40px;
}

.Cv1 {
  color: #edc6fe;
  font-family: "Roboto Regular", monospace;
}
.Cv2 {
  color: #edc6fe;
  font-family: "Roboto Regular", monospace;
  margin-left: 4rem;
  margin-top: 2rem;
}
.skills3 {
  color: #edc6fe;
  gap: 2px;
  font-family: "Roboto Regular", monospace;
  margin-left: 4rem;
  background: #0b1e34;
}
