/**********desktop**********/

body {
  background-color: #0b1e34;
  background-image: url(img/baggrund.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 65% 0;
}

main {
  max-width: 1600px;
}

/**********menu**********/
#menu {
  display: grid;
  grid-template-columns: 35% 45%;
}

li a {
  color: #edc6fe;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/**********font**********/
h1 {
  font-family: "Fira Mono", monospace;
  color: #d995f5;
  font-size: 2.5rem;
  margin-bottom: 8rem;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  color: #edc6fe;
  font-size: 2rem;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: #edc6fe;
  font-size: 1.5rem;
}

.mit_navn {
  font-family: "Courier New", Courier, monospace;
  color: #d995f5;
  margin-top: 7rem;
}

.indhold_index {
  display: grid;
  justify-content: center;
  margin-bottom: 60px;
}

/**********detaljer**********/
.logo_img {
  width: 200px;
  height: 100px;
  margin-left: 2rem;
}

.header_icons {
  display: flex;
  flex-direction: row;
}

.header_icons :first-child {
  margin-right: auto;
}

.insta_icon {
  width: 3%;
  padding: 1rem;
}

.face_icon {
  width: 3%;
  padding: 1rem;
}

.mail_icon {
  width: 3.6%;
  padding: 1rem;
}

.forside_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  padding: 60px 90px 0px 90px;
}
.subject2,
.subject3,
.subject4,
.subject5 {
  width: 100%;
  aspect-ratio: 16/9;
  text-align: center;
  background-color: #0c2139;
  border-radius: 25px;
  text-decoration: none;
}

.text_front2,
.text_front3,
.text_front4,
.text_front5 {
  font-size: 5rem;
  padding-top: 5rem;
}

.background_subject2 {
  background-image: url(img/tema2.webp);
}

.background_subject3 {
  background-image: url(img/UX.webp);
}

.background_subject4 {
  background-image: url(img/tema4.webp);
}
.background_subject5 {
  background-image: url(img/tema5.webp);
}

.om_mig_knap {
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Roboto Mono", monospace;
  border: none;
  padding: 24px;
  width: 150px;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #edc6fe;
  background-size: 200%;
  background-image: linear-gradient(to left, #fda7df, #9980fa, #fda7df);
  transition: 0.6s;
}

.om_mig_knap:hover {
  background-position: right;
}

footer {
  background-color: #595476;
  color: #edc6fe;
  padding: 2rem;
  font-family: "Roboto Mono", monospace;
  display: flex;
  gap: 2rem;
  margin-top: 20rem;
}

hr {
  color: #edc6fe;
}

/**********hide screen*********/

.hide {
  display: none;
}
