body {
  background-color: #0b1e34;
  background-image: url(img/baggrund.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 65% 0;
}

main {
  max-width: 1300px;
}

/**********grid_header/h1/indhold/**********/

#menu {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-areas:
    "header h1"
    "header indhold";
}

/**********nav bar**********/
li a {
  color: #edc6fe;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

ul li a:hover {
  color: #d995f5;
  text-shadow: 0 0 5px #774b88;
}

/**********logo og ikoner**********/
.logo_img {
  width: 200px;
  height: 100px;
  margin-left: 2rem;
}

.icons {
  position: fixed;
  bottom: 400px;
  right: 50px;
}

.icons ul li a img {
  width: 50px;
  height: 50px;
  transition: 0.25s;
}

.icons ul li a img:hover {
  filter: brightness(200%) contrast(100%);
  transform: translateY(-3px);
}

header {
  grid-area: header;
}

.klik_her {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Roboto Mono", monospace;
  border: none;
  padding: 15px;
  width: 100px;
  border-radius: 6px;
  cursor: pointer;
  color: #edc6fe;
  background-size: 200%;
  background-image: linear-gradient(to left, #fda7df, #9980fa, #fda7df);
  transition: 0.6s;
}

footer {
  color: #edc6fe;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  gap: 2rem;
  margin-top: 10rem;
}
/**********indhold**********/
.tema_indhold {
  background-color: rgba(90, 85, 119, 0.199);
  grid-area: indhold;
  padding: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: #edc6fe;
  max-width: 1110px;
}
/**********img/h1**********/
.tema_h1 {
  font-family: "Roboto Mono", monospace;
  color: #d995f5;
  font-size: 2.5rem;
  grid-area: h1;
}

.tema_column img {
  width: 500px;
  height: 299px;
  border-radius: 6px;
  border-color: #edc6fe;
  border-style: solid;
}
/**********grid_areas**********/
.tema_column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "img1 p1"
    "p2 img2"
    "img3 p3";
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.p1 {
  grid-area: p1;
}
.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}
